Repository pegasystems/pega-helm-charts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pegasystems/deployment, @kingakowalska1, @pegasystems/UIServices, @pegasystems/searchservice

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# For more info, see https://help.github.com/en/articles/about-code-owners

# These owners will be the default owners for everything in the repo.
*       @pegasystems/deployment

# Documentation
*.md        @kingakowalska1
docs/*      @kingakowalska1

# Chart Defaults
charts/*  @pegasystems/deployment

# Pega Chart
charts/pega/*    @pegasystems/deployment

# Constellation Chart
charts/pega/charts/constellation/*    @pegasystems/UIServices
charts/backingservices/charts/constellation/*  @pegasystems/UIServices
charts/backingservices/charts/constellation-messaging/*  @pegasystems/UIServices

# SRS Chart
charts/backingservices/charts/srs/*  @pegasystems/searchservice

Hazelcast client server reconnection default timeout updated.
  charts/pega/config/deploy/prconfig.xml
Owners: @pegasystems/deployment

Hazelcast client server reconnection default timeout updated.
  terratest/src/test/pega/data/expectedInstallDeployPrconfig.xml
Owners: @pegasystems/deployment

Hazelcast client server reconnection default timeout updated. (#939)
  charts/pega/config/deploy/prconfig.xml
  terratest/src/test/pega/data/expectedInstallDeployPrconfig.xml
Owners: @pegasystems/deployment

Update chart versions to 3.28.7
  charts/addons/Chart.yaml
  charts/backingservices/Chart.yaml
  charts/pega/Chart.yaml
Owners: @pegasystems/deployment

Deploy pegasystems/pega-helm-charts to pegasystems/pega-helm-charts:gh-pages
  addons-3.28.7.tgz
  backingservices-3.28.7.tgz
  charts/addons/Chart.yaml
  charts/backingservices/Chart.yaml
  charts/pega/Chart.yaml
  charts/pega/config/deploy/prconfig.xml
  deploy-config-3.28.7.tgz
  index.yaml
  installer-config-3.28.7.tgz
  pega-3.28.7.tgz
  terratest/src/test/pega/data/expectedInstallDeployPrconfig.xml
Owners: @pegasystems/deployment

US-592203
  charts/pega/charts/installer/config/prbootstrap.properties.tmpl
  charts/pega/charts/installer/config/prconfig.xml.tmpl
  validatexml.sh
Owners: @pegasystems/deployment

US-592203
  terratest/src/test/pega/pega-installer-config-connprops_test.go
  terratest/src/test/pega/pega-installer-config_test.go
Owners: @pegasystems/deployment

Added configurability of pod Annotations in the constellation chart, created Unit test and updated the documentation
  charts/backingservices/charts/constellation/README.md
  charts/backingservices/charts/constellation/templates/clln-deployment.yaml
  terratest/src/test/backingservices/constellation_test.go
Owners: @pegasystems/UIServices, @pegasystems/deployment

Added podAnnotations key to the Constellation chart, created Unit test and updated documentation
  charts/backingservices/charts/constellation/README.md
  charts/backingservices/charts/constellation/templates/clln-deployment.yaml
  terratest/src/test/backingservices/constellation_test.go
Owners: @pegasystems/UIServices, @pegasystems/deployment

[BUG-948912] SRS 1.38.10 version update
  charts/backingservices/charts/srs/README.md
Owners: @pegasystems/searchservice

[BUG-948912] SRS 1.38.10 version update (#943)
  charts/backingservices/charts/srs/README.md
Owners: @pegasystems/searchservice

BUG-937962 Log DDS metrics to a file when enabled in DDS landing page/prconfigs
  charts/pega/config/deploy/prlog4j2.xml
  terratest/src/test/pega/data/expectedInstallDeployPRlog4j2.xml
Owners: @pegasystems/deployment

US-696964: Updated srs backingservice helm chart to support mtls
  charts/backingservices/charts/srs/templates/_helpers.tpl
  charts/backingservices/charts/srs/templates/srsservice_deployment.yaml
  charts/backingservices/charts/srs/templates/srsservice_networkpolicy.yaml
  charts/backingservices/charts/srs/templates/srsservice_service.yaml
  charts/backingservices/values.yaml
Owners: @pegasystems/deployment

Fine-grained SRS values.yaml for mTLS support
  charts/backingservices/Makefile
  charts/backingservices/charts/srs/templates/elasticsearchsecret.yaml
  charts/backingservices/charts/srs/templates/srsservice_deployment.yaml
  charts/backingservices/values.yaml
Owners: @pegasystems/deployment

Updated volumes logic
  charts/backingservices/charts/srs/templates/srsservice_deployment.yaml
Owners: @pegasystems/deployment

BUG-916671 Support datacenter parameters in pega helm charts
  charts/pega/README.md
  charts/pega/templates/pega-environment-config.yaml
  charts/pega/values-large.yaml
  charts/pega/values-minimal.yaml
  charts/pega/values.yaml
  terratest/src/test/pega/pega-environment-config_test.go
Owners: @pegasystems/deployment

Minor code refactoring and documentation update
  charts/backingservices/charts/srs/templates/srsservice_deployment.yaml
  charts/backingservices/values.yaml
Owners: @pegasystems/deployment

Added validations to SRS readiness probe logic and ES authProvider logic
  charts/backingservices/charts/srs/templates/_helpers.tpl
  charts/backingservices/charts/srs/templates/srsservice_deployment.yaml
Owners: @pegasystems/deployment
